<div>
    <div class="container lists">
        <div class="row">
            <div class="col-md-12 clearfix lists-header">
                <h1 class="pull-left">Your Lists</h1>
                <a href="#/newlist" class="btn btn-primary pull-right btn-new-list">New List</a>
            </div>
            <div class="progress progress-striped active" ng-show="isBusy">
                <div class="progress-bar progress-bar-info" style="width:100%"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 list-container" ng-repeat="list in data.lists">
                <div class="well">
                    <h2><a ng-href="#/list/{{ list.id }}">{{ list.title }}</a> <i class="icon-trash list-delete" title="Click to delete list"></i></h2>
                    <span class="item-count">Items: {{ list.items.length }}</span>
                </div>
            </div>
        </div>
    </div>
</div>