@model IEnumerable<Grocerytron.Models.List>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="~/js/services/DataService.js"></script>
    <script src="~/js/controllers/ListController.js"></script>
    <script src="~/js/controllers/NewListController.js"></script>
    <script src="~/js/controllers/singleListController.js"></script>
}

<div ng-view="">

</div>